* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: linear-gradient(to right, #1f1c2c, #928DAB);
  color: white;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: transparent;
}


/* Agrega aquí tus otros estilos para header, nav, hero, etc. */

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  color: #FF9900;
}

nav a {
  color: white;
  margin-left: 30px;
  text-decoration: none;
  font-weight: 300;
}

.hero {
  display: flex;
  align-items: flex-start; /* Alineamos arriba para que img y texto arranquen igual */
  justify-content: space-between;
  padding: 40px;
  max-width: 100%;
  height: 100vh;
  gap: 20px; /* Un poco de espacio entre texto e imagen */
}

.hero-left {
  display: flex;
  flex-direction: column;
  max-width: 50%; /* Que ocupe mitad del ancho, para que no quede muy estirado */
}


.hero-text h1 {
  font-size: 3.5em;
  margin-bottom: 20px;
}

.hero-text h1 span {
  color: #FF9900;
}

.hero-text p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

/* Botón */
.btn-inscribirse {
  display: inline-block;
  padding: 15px 20px;
  background: linear-gradient(45deg, #9ef77a, #df8106);
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s ease;
  user-select: none;
  text-align: center;
  line-height: normal; /* Para que ocupe todo el área */
  /* Eliminar white-space: nowrap para evitar problemas con tamaño */
  /* white-space: nowrap;  */
  position: relative;
  width: fit-content;
  align-self: flex-start;
  position: relative;
  z-index: 10000; /* Alinea el botón al inicio del contenedor (izquierda) */
}

.btn-inscribirse:hover {
  background-color: #d35400;
}

.btn-inscribirse:active {
  background-color: #b03e00;
  transform: translateY(2px);
}

/* Imagen: pegada al borde derecho y más abajo */
.hero-img {
  max-width:100%;
  position: relative;
  height: 100%;
  width: 100%;
  top: 71px; /* Bajamos un poco la imagen */
  right: -170px; /* Movemos un poco fuera del contenedor a la derecha para pegar borde */
}

.hero-img img {
  width: 100%;
  border-radius: 20px;
  display: block; /* Para evitar espacios abajo de imagen */
}

.musical-notes {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: url('https://cdn.pixabay.com/photo/2013/07/12/14/07/music-147111_1280.png') repeat-x center bottom;
  opacity: 0.4;
}

.social-icons {
  display: flex;
  gap: 20px; /* Aumenta el espacio entre los íconos */
}

.social-icons a {
  color: white; /* Cambia el color a blanco */
  font-size: 24px; /* Ajusta el tamaño de los íconos si lo deseas */
  transition: color 0.3s ease; /* Efecto de transición para el color */
}

.social-icons a:hover {
  color: #ff760b; /* Color para el hover si quieres un cambio cuando el usuario pase el cursor */
}

  
/* Pagina cambiar a dark*/
header.light-navbar {
  background-color: white;
}


header.light-navbar a,
header.light-navbar .social-icons a,
header.light-navbar .theme-toggle {
  color: #ff760b!important;
}

  body.dark-theme {
  background-color: #121212; 
  color: #ffffff; 
}

body.dark-theme .gallery {
  background-color: #121212; 
}

body.dark-theme .gallery img {
  border: 2px solid #ffffff; 
}


body.dark-theme .bank-section {
  background-color: #121212; 
}

body.dark-theme .bank-option {
  background-color: #1a1a1a; 
}

body.dark-theme .bank-text {
  color: #ffffff;
}

body.dark-theme button {
  background-color: #ffffff; 
}

body.dark-theme .hero-image {
  background-color: #121212; 
}

body.dark-theme footer {
  background-color: #121212;
  color: #ffffff; 
}

body.dark-theme .carousel button {
  background-color: rgba(109, 108, 108, 0.2); 
  color: #fffefe; 
}

body.dark-theme .carousel button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

body.dark-theme .back-to-top {
  background-color: rgb(255, 252, 252); 
  color: #f56c04; 
}

body.dark-theme .back-to-top:hover {
  background-color: rgba(255, 255, 255, 0.5); 
}

/* Pagina cambiar a dark*/
  
.theme-toggle {
  background: none;
  border: none;
  font-size: 20px;
  color: #ff760b;
  cursor: pointer;
}

.theme-toggle:hover {
  transform: scale(1.2);
}
.lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.9);
  text-align: center;
}

.lightbox-img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 15px;
}

.close {
  position: absolute;
  top: 20px; right: 35px;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: white;
  font-size: 60px;
  padding: 16px;
  margin-top: -50px;
  user-select: none;
}

.prev { left: 0; }
.next { right: 0; }

  .preview-box {
  display: none; /* Oculto por defecto */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 90%;
  background: white;
  padding: 20px;
  z-index: 9999;
  border-radius: 10px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

.preview-box img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
  color: black;
}

  .hero-image {
    width: 100%;
    overflow: hidden;
  }
  
  .hero-image img {
    width: 100%;
    max-height: 500px;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }
  
  .gallery {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 20px;
    background-color: #fff;
  }
  
  .gallery img {
    height: 300px;
    width: auto;
    border-radius: 3px;
    border: 2px solid #000;
    cursor: pointer;
  }
  
  .bank-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 40px;
    background-color: #fff;
  }
  
  .bank-option {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #e9e6e6;
    padding: 20px;
    border-radius: 10px;
  }
  
  .bank-option.reverse {
    flex-direction: row-reverse;
    background-color: #fff;
  }
  
  .bank-image img {
    width: 300px;
    border-radius: 2px;
    border: 1px solid #000;
  }
  
  .bank-text {
    max-width: 500px;
  }
  
  .bank-text h4 {
    font-size: 1.9rem;
    color: #ff760b;
    margin-bottom: 20px;
  }
  
  .bank-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #000;
  }
  
  .bank-text button {
    background-color: #ffb10b;
    color: #1a1a1a;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .bank-option .bank-text h4,
  .bank-option .bank-text p,
  .bank-option .bank-text button {
    font-size: 1.2rem;
  }
  .bank-option.reverse .bank-text h4,
  .bank-option.reverse .bank-text p,
  .bank-option.reverse .bank-text button {
    font-size: 1.2rem;
  }

  .carousel {
    position: relative;
    width: 1000px;
    max-width: px;
    margin: 50px auto;
    overflow: hidden;
    
  }
  
  .carousel-container {
    position: relative;
  }
  
  .carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-slide img {
    width: 100%;
    flex-shrink: 0;
    height: 400px;
    object-fit: cover;
  }
  
  .carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.2); 
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
    transition: background-color 0.3s ease;
  }
  
  .carousel button:hover {
    background-color: rgba(0, 0, 0, 0.4); 
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  

.newsletter {
  background: #f7eee3;
  padding: 20px;
  text-align: center;
  color: #000;
  border-radius: 10px;
  max-width: 900px; 
  margin: auto;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  overflow: hidden; 
  height: 400px; 
}

.newsletter form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 10px;
  width: 94%; 
}

.newsletter input {
  padding: 7px;
  width: 100%;
  border: 1px solid #000;
  color: #000;
}

.newsletter button {
  padding: 12px 20px;
  width: auto; 
  background-color: #12ee0a;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
  align-self: center; 
}

.newsletter-image {
  width: 50%;
  height: 100%;    
  border-radius: 20px;      
  display: flex;
  justify-content: center;
  align-items: center;    
  overflow: hidden;        
}

.newsletter-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;       
  border-radius: 10px;
}

.info-section {
  text-align: center;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.info-section h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.info-card {
  display: block;
  width: 270px;
  height: 150px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f0f0f0;
  transition: transform 0.3s ease;
}

.info-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.info-card:hover {
  transform: scale(1.05);
}


  
  footer {
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-size: 12px;
    flex-wrap: wrap;
  }
  
  .footer-section h4 {
    margin-bottom: 5px;
    color: #ffb10b;
  }
  
  .footer-bottom {
    text-align: center;
    width: 100%;
    padding-top: 10px;
    color: #ffb10b;
  }

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.whatsapp-icon {
  width: 60px; /* Puedes ajustar el tamaño */
  height: 60px;
  transition: transform 0.2s;
}

.whatsapp-icon:hover {
  transform: scale(1.1);
}




  /* Dinamismo */
  .fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.bank-text button:hover {
  background-color: #ff760b;
  transform: scale(1.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.parallax {
  background-image: url('image/LogoFestival.png');
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.carousel-slide img {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

footer {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    font-family: Arial, sans-serif;
}

  .footer-section a {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 5px 0;
  }

  .footer-section a:hover {
    color: #ff760b;
  }

  .footer-bottom {
    border-top: 1px solid #ccc;
    font-size: 0.9em;
    color: #ff760b;
  }
/*Modales*/
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}

.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  position: relative;
}


/* Formulario compacto */
form {
  background: #fff8f0;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  max-width: 320px;
  margin: 20px auto;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

/* Inputs y selects más pequeños */
form input[type="text"],
form input[type="number"],
form input[type="email"],
form select {
  width: 100%;
  padding: 8px 12px;
  margin: 8px 0 15px 0;
  border: 1.8px solid #f39c12;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

form input[type="text"]:focus,
form input[type="number"]:focus,
form select:focus {
  border-color: #d35400;
  outline: none;
}


